
{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}

 <div class="container-fluid mt-5 bg-light p-5">

 {% if app.user %}
    <p>Bienvenue, {{ app.user.nom }} {{ app.user.prenom }}!</p>
    <p>Vous pouvez ajouter les informations manquantes ci-dessous.</p>
    {{ form_start(form) }}
        {{ form_row(form.telephone, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.adresse, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.pseudo, {'attr': {'class': 'form-control'}}) }}


        <button class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}
    <p><a href="{{ path('app_mon_compte_information') }}">Retour à la page d'information du compte</a></p>
    {% else %}
    <h1>Accès refusé</h1>
    <p>Vous devez être connecté pour accéder à cette page.</p>
    {% endif %}
 </div>

{% endblock %}